<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
  <h3> Users Login Screen </h3>
  <hr>

  <h1>Login</h1>
<hr>
 <form action= '/sessions' method="POST">
    <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token%>">
    <input type="email" name="login[email]" placeholder="email">
    <input type="password" name="login[password]" placeholder="password">
    <input type="submit" name="submit" class="submit">
  </form>

    <h1>Registration</h1>
<hr>
    <form action= '/users' method="POST">
      <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token%>">
      <input type="name" name="user[name]" placeholder="name">

      <input type="company" name="user[company]" placeholder="company">
      
      <input type="greeting" name="user[greeting]" placeholder="greeting">





      <input type="email" name="user[email]" placeholder="email">



      <input type="password" name="user[password]" placeholder="password">
      <input type="password" name="user[password_confirmation]" placeholder="password_confirmation">
      <input type="submit" name="submit" class="submit">

    </form>

  </body>
</html>